html{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F0FFFF;
}
h1{
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #D6D6D6;
  text-shadow: 3px 3px 10px black;
}
p, li{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body{
  width: 800px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img{
  display: block;
  margin: 0 auto;
}
